.weather-app {
  margin: 10x, auto;
  padding-top: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
  padding-left: 40px;
  border: 1px solid #dadde1;
}
.weather-temperature .active {
  color: rgb(33, 33, 33);
  cursor: default;
}
.weather-temperature .active:hover {
  text-decoration: none;
}
body {
  margin: 0 auto;
}

.container {
  max-width: 1000px;
}
